<!doctype html>
<html ng-app>
    
    <head>
        <!-- angular/underscore for base functionality -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
        <!-- jquery required for bootstrap, plus we can use it -->
        <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <!-- custom code, for controller -->
        <script src="todo-ctrl.js"></script>
        <!-- bootstrap theming, for fun -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <!-- custom code, for theming our demo -->
        <link rel="stylesheet" href="todo.css">
    </head>
    
    <body>
        <h2>Todo</h2>
        <div ng-controller="TodoCtrl">
            <span>{{remaining()}} of {{todos.length}} remaining</span>
            [ <a href="" ng-click="archive()">archive</a> ]
            <ul class="list-unstyled">
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done" />
                    <span class="todo-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
            <form ng-submit="addTodo()">
                <input type="text" class="form-control" ng-model="todoText" placeholder="add new todo here" />
                <input class="btn btn-primary" type="submit" value="add" />
            </form>
        </div>
    </body>

</html>