<!doctype html>
<html ng-app="store">

	<head>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Learning AngularJS with CodeSchool.com</title>

		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<style type="text/css">

			/*
				Provide defaults per angular ui-bootstrap instructions
				http://angular-ui.github.io/bootstrap/
			 */
			.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

			/*
				Bootstrap Starter Template
				http://getbootstrap.com/examples/starter-template/
			 */
			body {
			  padding-top: 50px;
			}
			.starter-template {
			  padding: 40px 15px;
			  text-align: center;
			}

			/*
				Custom Styles
			 */

			.strike {
				text-decoration: line-through;
				color: #A0A0A0;
			}

		</style>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
		<script src="ui-bootstrap-0.11.0.min.js"></script>
		<script src="app.js"></script>

	</head>

	<body class="list-group" ng-controller="StoreController as store">

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Learning AngularJS</a>
				</div><!--/.nav-header -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.nav-container -->
		</div>

		<div class="container">

			<div class="starter-template">
				<h1>Bootstrap starter template</h1>
				<p class="lead">Hello World</p>
			</div>

			<div class="list-group-item" ng-repeat="product in store.products">

				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>

				<section class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
					<img ng-src="{{product.images[gallery.current]}}" />
					<ul class="list-inline thumbs">
						<li class="thumbnail" ng-repeat="image in product.images">
							<img ng-src="{{image}}" ng-click="gallery.setCurrent($index)" />
						</li>
					</ul>
				</section>

				<section class="tab" ng-controller="TabController as tabCtrl">
					<ul class="nav nav-pills">
						<li ng-class="{ active:tabCtrl.isSet(1) }">
							<a href ng-click="tabCtrl.setTab(1)">Description</a>
						</li>
						<li ng-class="{ active:tabCtrl.isSet(2) }">
							<a href ng-click="tabCtrl.setTab(2)">Specs</a>
						</li>
						<li ng-class="{ active:tabCtrl.isSet(3) }">
							<a href ng-click="tabCtrl.setTab(3)">Reviews</a>
						</li>
					</ul>
					<div ng-show="tabCtrl.isSet(1)">
						<h4>Description</h4>
						<blockquote></blockquote>
					</div>
					<div ng-show="tabCtrl.isSet(2)">
						<h4>Specs</h4>
						<blockquote>Shine: </blockquote>
					</div>
					<div ng-show="tabCtrl.isSet(3)">
						<h4>Reviews</h4>
						<blockquote></blockquote>
					</div>
				</section><!--/tab section -->

			</div>

		</div><!--/container -->

	</body>

</html>